.about {
    position: relative;
    padding-top: 64px;
    padding-bottom: 64px;
    z-index: 1;

    span {
        font-weight: 700;
    }

    .button--primary {
        margin-top: 1.5rem;
    }
}

@media (min-width: map-get($grid-breakpoints, md)) {
    .about {
        margin-top: 0;
    }
}