.challenges {
    padding-top: 128px;
    padding-bottom: 128px;
    color: $white;
    background-color: $secondary;

    .container {
        padding: 0;
    }
}

.challenges__challenge {
    padding-top: 64px;
}

.challenges__check-wrapper {
    margin-right: 1.3rem;
    display: inline-block;

    img {
        position: absolute;
        top: 5px;
        height: 1.2rem;
    }
}

@media (min-width: map-get($grid-breakpoints, md)) {
    .challenges {
        padding-top: 32px;
    }
}