.chat-window {
    height: calc(100vh - 56px - 3 * 1rem - 38px);

    .chat-history {
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .chat-message {
        display: table;
        padding: .5rem 1rem;
        margin: 0 2rem 1rem;
        max-width: 75%;
        color: #fff;
        background-color: theme-color("secondary");
        border-radius: 12px;

        img {
            margin-bottom: 1rem;
        }

        .chat-message-footer {
            margin-top: .75rem;
        }

        .chat-message-time {
            font-size: .75rem;
            vertical-align: 3px;
        }
        
        .delete {
            float: right;
            margin-left: 1rem;
            display: inline;
            vertical-align: middle;
        }

        .delete:hover {
            cursor: pointer;
        }
    }
    
    .message-wrapper-sam {
        justify-content: right;

        .chat-message {
            background-color: theme-color("primary");
        }
    }
}