.masthead {
    position: relative;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
        z-index: 2;
    }
}

.masthead__content {
    margin-top: 64px;
    text-align: center;
    align-self: center;

    h1 {
        color: $white;
        font-weight: 700;
    }

    span {
        font-size: 5rem;
    }
}

.masthead__image {
    margin-top: 64px;
    text-align: center;

    img {
        position: relative;
        width: auto;
        max-width: 100%;
        max-height: 375px;
        height: auto;
    }
}

.masthead__top-gradient {
    position: absolute;
    top: -100px;
    width: 100vw;
    height: 550px;
    background-color: $primary;
    background: linear-gradient(45deg, #{$primary} 0%,#{$primaryLighter} 100%);
    transform: skewY(-6deg) scale(1.111);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border: 1px solid rgba(0, 0, 0, 0); 
    z-index: 1;
}

.masthead__bottom-gradient {
    position: absolute;
    top: 350px;
    width: 0vw;
    height: 200px;
    background: linear-gradient(45deg, #{$gray-100} 0%, #{$gray-100} 50%, #{$primary} 50%, #{$primaryLighter} 100%);
    transform: skewY(-6deg);
}

@media (min-width: map-get($grid-breakpoints, md)) {
    .masthead {
        height: 100vh;
        min-height: 750px;
    }

    .masthead__top-gradient {
        height: 750px;
    }

    .masthead__bottom-gradient {
        top: 600px;
    }

    .masthead__content {
        margin-top: 0;
        text-align: left;
    }

    .masthead__image {
        margin-top: 0;
        justify-content: flex-end;

        img {
            width: auto;
            max-height: 750px;
            height: auto;
        }
    }
}

@media (min-width: map-get($grid-breakpoints, xl)) {
    .masthead__top-gradient {
        height: 75vh;
    }

    .masthead__bottom-gradient {
        top: 60vh;
        height: 20vh;
    }
    
    .masthead__image img {
        max-height: 75vh;
    }
}